.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.grid-button {
  background: linear-gradient(145deg, #FFD700, #B8860B);
  border: none;
  color: #000000;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  width: 100%;
  min-height: 80px;
}

.grid-button:hover {
  background: linear-gradient(145deg, #B8860B, #FFD700);
}

.back-button {
    background-color: #333;
    border: 1px solid #FFD700;
    color: #FFD700;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}
